.rate-btns {
  height: 3vw;
  width: 3vw;
  font-size: 12pt;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  margin-right: 1vw;
}
.rate-div {
  display: flex;
  width: 75px;
  cursor: pointer;
}
.crop {
  overflow: hidden;
}
.rate-btns:hover {
  cursor: pointer;
}
.fa fa-star {
  height: 20px;
  width: 20px;
}
.rateCard {
  margin-bottom: 5px;
}